{% extends 'base.html.twig' %}

{% block title %}Effacer mon compte{% endblock %}

{% block monTitre %}Modifier {% endblock %}
{% block body %}

    {{ form(form) }}




    <input type="submit" class="btn btn-primary" value="valider">
    <a href="{{ 'account_reset_password' }}" class="btn btn-primary">Effacer mon mot de passe</a>

{% endblock %}