

<!-- Footer -->
<footer class="page-footer font-big blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 h6">© 2020 Copyright PA.Morelli:
        <a href="https://mdbootstrap.com/education/bootstrap/"> www.bonjour-toi.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->